body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

canvas {
    display: block;
}

#editor {
    display: flex;
    width: 14rem;
    background-color: #502110;
    flex-direction: column;
    padding: 0.2rem;
}

#editor > div, #editor > select {
    margin: 0.2rem;
}

#version {
    position: absolute;
    font-size: 0.6rem;
    top: 0;
    right: 0;
    padding: 0.3rem;
    color: wheat;
}

#mappings {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#tiles {
    background-color: #151010;
    flex: 1 1 auto;
    padding: 1rem;
}

#texts {
    background-color: #202020;
    flex: 1 1 auto;
    overflow: auto;
}

#texts pre {
    color: white;
    font-family: monospace;
    font-size: 0.8rem;
    padding: 1rem;
}

span.param {
    color: white;
    font-size: 0.8rem;
    width: 4rem;
    display: inline-block;
}

input.int {
    width: 8rem;
}
